@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family:sans-serif;
    background-color: #FAF4F4;
}

 .navLogo{
  
font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

 }
 .navbSearchBar{
    width: Hug (243px)px;
height: Hug (38px)px;
padding: 7px 12px 7px 20px;
gap: 10px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;

 }
 .footerInput{width: Fixed (217px)px;
    height: Hug (48px)px;
    padding: 12px 0px 12px 16px;
    gap: 32px;
    border-radius: 4px 0px 0px 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    }
    .navbarHeading{
       
font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    }
 


.intstagramBg {
  background-image: url('/images/intstabg.jpeg');
  background-size: cover; /* Makes the image cover the entire div */
  background-position: center; /* Centers the image */
  width: 100%; /* Adjust width as needed */
  position: absolute;
  opacity: 0.5;
   
  z-index: -10;
   height: 450px;/* Set the height as per your requirements */
}
.pagesBg {
  background-image: url('/images/pgaesBg.jpeg');
  background-size: cover; /* Makes the image cover the entire div */
  background-position: center; /* Centers the image */
  width: 100%; /* Adjust width as needed */
  opacity: 0.5;
  position: absolute;
  z-index: -10;
   height: 316px;/* Set the height as per your requirements */
}